<ion-header>
  <ion-toolbar>
    <ion-title>Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="product" class="product">
    <img
      class="product-image"
      [src]="product.image"
      [alt]="product.name"
    />

    <div class="product-info">
      <h1>{{ product.name }}</h1>
      <h2>₱{{ product.price }}</h2>
      <h3>Description</h3>
      <p>{{ product.description }}</p>
    </div>
  </div>

    <ion-button routerLink="/main/catalog">
      Back to Catalog
    </ion-button>
</ion-content>
