<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <img src="assets/banner.png" class="banner-image" />

  <h2>WELCOME!</h2>
  <p>Explore our collection of top-rated products that our customers love the most. Each item is chosen for its quality, popularity, and unbeatable value.</p>
</ion-content>
